.science__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 18px;
  text-align: center;
}

@media (max-width: 1024px) {
  .science__card-text {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0 1rem;
  }
}
