.global__filters {
  display: flex;
  justify-content: center;
  margin: 0 0 58px;
}

.global__filters ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

@media (max-width: 1024px) {
  .global__filters {
    margin: 0 0 2rem;
  }
}
