.testimonials__slider-pagination {
  height: 22px;
  position: absolute;
  bottom: 62px;
  left: calc(50% - 39px);
  display: flex;
  justify-content: space-around;
  gap: 12px;
  align-items: center;
}

@media (max-width: 1024px) {
  .testimonials__slider-pagination  {
    height: 0;
    bottom: 2rem;
    left: calc(50% - 3rem);
    gap: .3rem;
  }
}
