.header__cart-counter {
  position: absolute;
  left: 45.83%;
  top: -0.16%;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--line-links);
  font-weight: 400;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
