.testimonials__slider {
  box-sizing: border-box;
  position: absolute;
  top: 212px;
  left: 64px;
  width: 780px;
  height: 459px;
  padding: 50px 52px;

  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(41, 41, 41, 0.08);
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .testimonials__slider {
    left: 22px;
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .testimonials__slider {
    top: unset;
    bottom: 4rem;
    left: 2rem;
    width: 60%;
    height: auto;
    padding: 2rem;
  }
}
