.header__kpi-trees {
  position: absolute;
  width: 30%;
  padding-right: 48px;
  height: 100%;
  top: 0;
  left: -27px;
  border-radius: 67px;
  background-color: var(--icons-bgc);
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  z-index: 1;
}
