.community {
  padding: 168px 0 143px;

  background-image: url(../../images/community_bg.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .community {
    padding: 5rem 0;
  }
}
