.header__kpi {
  position: relative;
  width: 70%;
  height: 100%;
  padding-right: 52px;
  background-color: var(--header-kpi);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

@media (max-width: 1440px) {
  .header__kpi {
    width: 70%;
  }
}

@media (max-width: 1440px) {
  .header__kpi {
    width: 60%;
    padding-right: 26px;
  }
}
