.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  text-transform: capitalize;
  margin: 0;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
