.global__map-btn {
  position: relative;
  bottom: 40px;
  display: block;
  margin: 0 auto;
  width: 252px;
  height: 72px;
}

@media (max-width: 1024px) {
  .global__map-btn {
    width: 12.5rem;
    height: 4rem;
  }
}
