.join {
  box-sizing: border-box;
  padding: 40px 0 54px;
  width: 100%;
  height: 397px;
  background-image: url(../../images/join_bg.jpg);
  background-size: cover;
  color: #fff;
}

@media (max-width: 1024px) {
  .join {
    padding: 4rem 0;
    height: auto;
  }
}
