.main {
  position: relative;
  min-height: 100vh;
  background-image: url(../../images/header/header-bg2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main::before {
  content: '';
  position: absolute;
  width: 680px;
  height: 938px;
  left: -382px;
  top: -356px;

  background: var(--icons-bgc);
  transform: rotate(32.95deg);
}

@media (max-width: 1024px) {
  .main {
    justify-content: flex-start;
  }
  .main::before {
    left: -50%;
  }
}
