.main {
  position: relative;
  min-height: 100vh;
  padding-top: 10rem;
  background-image: url(../../images/header/header-bg2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
}

.main::before {
  content: '';
  position: absolute;
  width: 680px;
  height: 938px;
  left: -382px;
  top: -356px;

  background: var(--icons-bgc);
  transform: rotate(32.95deg);
}

@media (max-width: 1024px) {
  .main {
    padding-top: 10rem;
  }
  .main::before {
    left: -36rem;
  }
}
