.footer__subscribe-name {
  box-sizing: border-box;
  width: 259px;
  padding: 14px 0px 14px 21px;

  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

@media (max-width: 1440px) {
  .footer__subscribe-name {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .footer__subscribe-name {
    height: 3rem;
  }
}
