.testimonials__bg-bl {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #000;
  height: 777px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .testimonials__bg-bl {
    height: 100%;
  }
}
