.header__buttons {
  height: 100%;
  width: 30%;
  padding-left: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--line-links);
  z-index: 1;
}

@media (max-width: 1440px) {
  .header__buttons {
  width: 40%;
  }
}
@media (max-width: 1024px) {
  .header__buttons {
    padding-left: 26px;
  }
}
