.footer__achieve {
  max-width: 201px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

@media (max-width: 1024px) {
  .footer__achieve {
    max-width: 18rem;
    font-size: 1rem;
  }
}
