.djanan__ico-wrap {
  position: relative;
  margin-top: 86px;
  width: 52px;
  height: 52px;
}

.djanan__ico-wrap::before {
  content: '';
  width: 66px;
  height: 0;
  position: absolute;
  left: calc(50% - 38px);
  top: -52px;
  border: 1px dashed var(--djanan-line);
  transform: rotate(-90deg);
  z-index: 10;
}

.djanan__ico-wrap::after {
  content: '';
  width: 26px;
  height: 0;
  position: absolute;
  left: calc(50% - 16px);
  bottom: -28px;
  border: 1px dashed var(--djanan-line);
  transform: rotate(-90deg);
  z-index: 10;
}

@media (max-width: 1024px) {
  .djanan__ico-wrap {
    margin-top: 5rem;
    width: 4.5rem;
    height: 4.5rem;
  }
  .djanan__ico-wrap::before {
    width: 6rem;
    left: calc(50% - 3rem);
    top: -4rem;
  }
  .djanan__ico-wrap::after {
    width: 3rem;
    left: calc(50% - 1.5rem);
    bottom: -2rem;
  }
}
