.footer__promo {
  background-image: url(../../../images/footer_pattern.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 499px 476px;
  flex-grow: 3;
}

@media (max-width: 1024px) {
  .footer__promo {
    background-size: 30rem 30rem;
  }
}
