.testimonials__card-author-surname {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  color: var(--icons-bgc);
}

@media (max-width: 1024px) {
  .testimonials__card-author-surname  {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
