.news__card-text {
  max-height: 63px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .news__card-text {
    max-height: 5rem;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
