.global__slider-left-arrow {
  position: absolute;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 57px;
  height: 57px;
  left: 35px;
  top: 46%;
  border: none;
  cursor: pointer;
  /* box-shadow: 0px 10px 25px rgba(33, 52, 48, 0.08); */
  z-index: 1;
}
