.footer__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-transform: capitalize;

  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.8;
  }
}
