.join__caption {
  margin-bottom: 12px;
  text-align: left;
  line-height: 28px;
  color: #fff;
}

@media (max-width: 1024px) {
  .join__caption {
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
  }
}
