.testimonials__card-author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  margin: 0;

  text-transform: capitalize;

  color: var(--title);
}

@media (max-width: 1024px) {
  .testimonials__card-author-name  {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
