.main__pre-title {
  margin: 264px 0 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 65px;
}

@media (max-width: 1024px) {
  .main__pre-title {
    margin: 7rem 0 .8rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
