.testimonials__card-author {
  margin-top: 21px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

@media (max-width: 1024px) {
  .testimonials__card-author  {
    margin-top: 1rem;
    gap: .7rem;
  }
}
