.community__content-title {
  max-width: 670px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 12px;

  color: var(--title);
}

@media (max-width: 1024px) {
  .community__content-title {
    max-width: 670px;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 1rem 0;
  }
}
