.djanan__ico {
  position: relative;
  margin-top: 86px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: var(--icons-bgc);
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.djanan__ico::before {
  content: '';
  width: 78px;
  height: 1px;
  position: absolute;
  /* left: calc(50% - 78px); */
  left: 0;
  top: 0;
  color: red;
  border: 10px dashed var(--djanan-line);
  /* transform: rotate(-90deg); */
}

.djanan__ico::after {
  content: '';
  width: 78px;
  height: 1px;
  position: absolute;
  /* left: calc(50% - 78px); */
  left: 0;
  bottom: 0;
  color: red;
  border: 10px dashed var(--djanan-line);
  /* transform: rotate(-90deg); */
}
