.causes__card-subtitle {
  padding: 7px 19px;
  background: var(--card-category);
  border-radius: 5px;

  font-weight: 600;
  font-size: 14px;
  line-height: 32px;

  display: inline-block;

  color: var(--bullets);
  margin-bottom: 20px;
}
