.testimonials__card-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 660px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 18px 0 20px;
}

@media (max-width: 1024px) {
  .testimonials__card-quote  {
    max-width: 90%;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 1rem 0 2rem;
  }
}
