.button-regular {
  width: 174px;
  height: 58px;
  background-color: var(--line-links);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .button-regular {
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
  }
}
