.global__filter {
  padding: 11px 20px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--title);
}

.global__filter a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}
