.slider__arrow-left {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 57px;
  height: 57px;
  left: 35px;
  top: 46%;
  border: 1px solid var(--border);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0px 10px 25px rgba(33, 52, 48, 0.08);
  z-index: 1;
  background: #FFFFFF;
}

.slider__arrow-left:hover {
  color: #fff;
  background-color: var(--slider-btn-active);
}

@media (max-width: 1024px) {
  .slider__arrow-left {
    left: 2rem;
  }
}
