.card__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 29px;

  color: var(--title);
  margin: 5px 0 12px;
}

@media (max-width: 1440px) {
  .card__title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: .5rem 0 1rem;
  }
}

@media (max-width: 1024px) {
  .card__title {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}
