.science__card-logo-outer {
  position: relative;
  width: 161px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 24px;

  background-color: #000;
  border: 1px solid #FFFFFF;
  border-radius: 11px;
}

@media (max-width: 1024px) {
  .science__card-logo-outer {
    width: 12rem;
    height: 9rem;
    margin-bottom: 2rem;
  }
}
