.testimonials__card-caption {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 9px;

  color: var(--icons-bgc);
}

@media (max-width: 1024px) {
  .testimonials__card-caption  {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 0;
  }
}
