.footer__subscribe-form {
  height: 56px;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

@media (max-width: 1024px) {
  .footer__subscribe-form {
    height: auto;
    gap: 1rem;
  }
}
