.card {
  position: relative;
  width: 412px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 10px 25px rgba(33, 52, 48, 0.08);
  border-radius: 10px;
  padding-bottom: 26px;
}

@media (max-width: 1440px) {
  .card {
    width: 27%;
  }
}
