.causes__card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;

  color: var(--title);
  margin-bottom: 20px;
}

@media (max-width: 1440px) {
  .causes__card-title {
    font-size: 20px;
  }
}
