.news__card-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 9px;
}

@media (max-width: 1024px) {
  .news__card-subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    height: auto;
  }
}
